
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href='http://fonts.googleapis.com/css?family=Roboto:500, 300' rel='stylesheet' type='text/css'>

<style>

h1, h3, a {

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: center;
}

h3 {
    font-weight: 300;
}

a.authorize_link {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

</style>

</head>


<title>Glass To Phone</title>




<body>

<h1>Glass To Phone</h1>

<p align="center">
<img src="http://glasstophone.s3.amazonaws.com/images/glass-to-phone-contact-photo.png" />
</p>

<h3>Send Photos from your Glass to your Android Phone and easily share them to your favorite app.</h3>

<p align="center">
<a class="authorize_link" href="/login">Authorize App</a>
</p>

</body>



</html>