
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href='http://fonts.googleapis.com/css?family=Roboto:500, 300' rel='stylesheet' type='text/css'>

<style>

body {

    font-family: 'Roboto', sans-serif;
    text-align: center;
}

</style>

</head>


<body>

<h1>Glass To Phone has been Authorized!</h1>

<h3><u>Next Steps</u></h3>

<h2>Add 'Glass to Phone' Contact on your Glass 
at <a target="_blank" href= "https://glass.google.com/u/0/myglass/share">My Glass</a> </h2>

<h2>Download the Android App 
at the <a target="_blank" href="https://play.google.com/store/apps/details?id=com.dannyroa.glasstophone">Play Store</a>
</h2>

</body>


</html>